# TMDBì—ì„œ API í™œìš©í•˜ì—¬ í‰ì ê¸°ì¤€ìœ¼ë¡œ ì˜í™”ë¥¼ ì¶”ì²œí•´ì£¼ëŠ” ê¸°ëŠ¥ êµ¬í˜„
- ...ì„ í†µí•´ì„œ requests, numpy, pandas ë³µìŠµì„ í•´ë³´ì

In [8]:
import requests
import pandas as pd
import numpy as np
from IPython.display import display

#API
api = '961b907ea3fefe1cbfe81d7f06b87762'

# url maker
def get_url(date):
    url = 'https://api.themoviedb.org/3/discover/movie'
    params = {
        'api_key': api,
        'language': 'ko-KR',
        'primary_release_date.lte': date,
        'sort_by':' vote_average.desc',
        'vote_count.gte': 50 # ìµœì†Œ 50ê°œ ì´ìƒ í‰ì  íˆ¬í‘œëœ ì˜í™”ë§Œ í•„í„°ë§
    }
    return url, params

# TMDB API ìš”ì²­ í•¨ìˆ˜
def fetch_movies(url, params): 
    res = requests.get(url, params=params)
    
    if res.status_code == 200:
        return res.json().get("results", [])
    else:
        print('api ìš”ì²­ ì‹¤íŒ¨:', res.status_code)
        return []

# ì˜í™” ë°ì´í„° ê°€ê³µ ë° ì¶”ì²œ
def process_movies(movies):
    if not movies:
        print('í•´ë‹¹ ë‚ ì§œì— ê°œë´‰í•œ ì˜í™”ê°€ ì—†ìŠµë‹ˆë‹¤')
        return pd.DataFrame()

    df = pd.DataFrame(movies, columns=['title', 'release_date', 'vote_average', 'vote_count'])

    # í‰ì  ì •ê·œí™” (í‰ì  / 10.0 ìœ¼ë¡œ 0~1 ì‚¬ì´ ê°’) - voteì˜ ìˆ˜ê°€ ë§ê±´ ì ê±´ ëª¨ë¸ì˜ íŒë‹¨ì„ ê³µì •í•˜ê²Œ í•˜ê¸° ìœ„í•¨
    df['normalized_rating'] = np.round(df['vote_average'] / 10, 2) # ì†Œìˆ˜ì  ë‘˜ì§¸ìë¦¬ì—ì„œ ë°˜ì˜¬ë¦¼
    df = df.rename(columns={
        'title': 'ì˜í™”ì œëª©',
        'release_date': 'ê°œë´‰ì¼',
        'vote_average': 'í‰ì ',
        'normalized_rating': 'ì •ê·œí™”ëœ í‰ì '
    })
    return df.sort_values(by='í‰ì ', ascending=False)

# ì‹¤í–‰ ì½”ë“œ
if __name__ == '__main__':
    date_input = input('ì˜í™” ì¡°íšŒì¼(YYYY-MM-DD)ì„ ì…ë ¥í•˜ì„¸ìš”: ')
    api_url_tuple = get_url(date_input)
    url, params = api_url_tuple
    movies = fetch_movies(url, params)
    movie_df = process_movies(movies)

    if not movie_df.empty:
        print('ğŸ ì¶”ì²œ ì˜í™” ëª©ë¡:')
        display(movie_df[['ì˜í™”ì œëª©', 'ê°œë´‰ì¼', 'í‰ì ', 'ì •ê·œí™”ëœ í‰ì ']].head(10))

ì˜í™” ì¡°íšŒì¼(YYYY-MM-DD)ì„ ì…ë ¥í•˜ì„¸ìš”:  2023-01-01

ğŸ ì¶”ì²œ ì˜í™” ëª©ë¡:

             ì˜í™”ì œëª©         ê°œë´‰ì¼     í‰ì   ì •ê·œí™”ëœ í‰ì
13         ì‡¼ìƒí¬ íƒˆì¶œ  1994-09-23  8.708     0.87
14             ëŒ€ë¶€  1972-03-14  8.689     0.87
17         ë‹¤í¬ ë‚˜ì´íŠ¸  2008-07-16  8.519     0.85
19  ë°˜ì§€ì˜ ì œì™•: ì™•ì˜ ê·€í™˜  2003-12-17  8.480     0.85
5           ì¸í„°ìŠ¤í…”ë¼  2014-11-05  8.451     0.85
4    ì–´ë²¤ì ¸ìŠ¤: ì¸í”¼ë‹ˆí‹° ì›Œ  2018-04-25  8.238     0.82
12        íƒ‘ê±´: ë§¤ë²„ë¦­  2022-05-21  8.188     0.82
0   ì¸ë””ì•„ë‚˜ ì¡´ìŠ¤: ë ˆì´ë”ìŠ¤  1981-06-12  7.921     0.79
16           íƒ€ì´íƒ€ë‹‰  1997-11-18  7.907     0.79
9            ì–´ë²¤ì ¸ìŠ¤  2012-04-25  7.729     0.77